<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>929217197412-si93ol8ne09qmoo35bmstc5bl0etlac0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.929217197412-si93ol8ne09qmoo35bmstc5bl0etlac0</string>
	<key>API_KEY</key>
	<string>AIzaSyB0-ya26v1R73kS3gfE2tpGStyRolKmUMY</string>
	<key>GCM_SENDER_ID</key>
	<string>929217197412</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.ferreirapaulo.uber</string>
	<key>PROJECT_ID</key>
	<string>uber-2fe8f</string>
	<key>STORAGE_BUCKET</key>
	<string>uber-2fe8f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:929217197412:ios:2e0e0fef2ca27e88c03671</string>
</dict>
</plist>